@charset "UTF-8";

body{
    background-color: pink;
}
header{
    color: yellow;
}
ul{
    font-weight: bold;
}
p{
    color:blue;
}
h1{
    color: bisque;
}
footer{
    font-size: medium;
}
body {
    width: 300px;
    border: 10px solid yellow ;
    padding: 50px;
    margin: 20px;
  }
