@charset "UTF-8";

body{
    background-color: pink;
}
.text{
    border: 1px solid black;
    padding: 20px;
    margin:0px 20px 0px 20px;
    background-color: white;
}
.text2{
    border: 1px solid black;
    padding:20px;
    margin: 0px 20px;
    background-color: white;
}




@media screen and (min-width:800px) {
    body{
        background-color: skyblue;
        font-size: medium;

    }
    h1{
        font-size: 80px;
    }
    .text{
        padding: 5px;
        margin-left:5px;
        margin-right: 5px;
    }   

}

@media screen and (min-width:600px){
    #top{
        font-size: 20px;
    }
}

@media screen and (min-width:1000px){
    .text{
        padding: 40px;
        margin-left:40px;
        margin-right: 40px;
        border:0px;
        background-color: yellow;
}
    #top{
        font-size: 70px;
    }


}